# Ignore environment files
/.env
.env

# ignore testing scripts
demo_pipeline.py

# ignore compiled python files
__pycache__/

# ignore virtual environment folder
venv/

# ignore some specific folders
mcq_output/